#container{
    width: 100%;
    height: 170px;
    margin-top: 1rem;
    background-color: orange;
    border-radius: 15px;
    padding: 5px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

#img{
    width:300px;
    background-color: white;
    margin-top: 3px;
    padding: 15px;
    border-radius: 15px;
}

#title{
    color: white;
}

.input-group-prepend{
    justify-content: center;
}

.form-control{
    display: flex;
    width: 800px;
    height: 40px;
    font-size: 20px;
    outline: none;
    box-shadow: none !important;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
.form-control::placeholder{
    font: 20px small;
    color: rgb(162, 160, 160)(213, 191, 191);
    font-family: Arial, Helvetica, sans-serif;
}

#add-button{
    border:none; 
    width:250px; 
    outline: none !important; 
    background-color: gray; 
    color: white; 
    box-shadow: none !important;
    padding: 5px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
#add-button:active{
    transform: translateY(1px);
}

#list-group{
    margin-top: 5px;
}

#list-item{
    background-color: rgb(239, 242, 244);
    justify-content: left;
    height: 40px;
    font-size: 20px;
    text-align: left;
    padding: 5px;
    text-align-last: left;
    font-family: 'Times New Roman', Times, serif;
}
#list-item:hover{
    background-color: rgb(212, 210, 210);
    cursor: pointer;
}
#list-item:selection{
    text-decoration: line-through;
}

.strike{
    text-decoration: line-through;
    color:rgb(242, 241, 241);
    background-color: rgb(54, 111, 139) !important;
}

#span:active{
    text-decoration:line-through;
}
#span:hover{
    background-color: rgb(255, 145, 0);
}

.alert{
    padding: 20px;
    background-color: #eeeeee;
    opacity: 0.7;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    width: 200px;
    transition:1s;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}